    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <title>Weather API example</title>
        <link rel="stylesheet" type="text/css" href="/css/index.css">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>

    </head>

    <body>
    <div class="container">
        <fieldset>
            <form action="/" method="post">
                <input name="city" type="text" class="ghost-input" placeholder="Enter a City" required>
                <input type="submit" class="ghost-button" value="Get Weather">
            </form>
            {{#if weather}}
                <p id="para"> Your city {{weather.name}} ,{{weather.sys.country}}</br>
                    {{#if description}} {{description}} {{/if}} <img src='http://openweathermap.org/img/w/{{#if icon}}{{icon}}{{/if}}.png'>  </p>
                <p>Temperature:{{weather.main.temp}} Celsius<br>
                    Humidity: {{weather.main.humidity}}% </br>
                    Pressure:{{weather.main.pressure}}</p>
            {{/if}}

            {{#if error}}
                <p class="para"> error is- {{error}}</p>
            {{/if}}

        </fieldset>
    </div>
    </body>
    </html>